@import url(/src/GlobalColors/globalColors.css);

.MetaWrapper
{
  background-color:var(grey);
  height: 90vh;
  background-color: white;  
}

.Wrapper
{
    display: flex;
    flex-direction: row;
}

.GoBack
{    
    height: 46px;
    width: 46px;
    border-radius: 50%;
    margin: 24px;
    margin-right: 30vw;
    cursor: pointer;
}

.GoBack:hover
{
    background-color: rgb(200,200,200);
}

.Video
{
    margin-top: 1%;
    height: 88vh;
}

.VideoHeadear
{
    height: 30vh;
}

.Title
{
    margin-top: 30px;
    font-size: xx-large;
}

.Description
{
    margin-top: 20px;
    color:rgb(22,24,34);
    width: 400px;
}

.NumbersOfLikesAndCommentsWrapper
{
    padding-top: 10px;
    color:rgb(22,24,34);
    height: 50px;
}

.NumbersOfComments
{
    margin-left: 10px;
}
    
.VerticalDivision
{
    display: flex;
    height: 160px;
}

.FollowButton
{
    margin-top: 80px;
    margin-bottom: 44px;
    margin-left: 40px;
    padding: 8px;
    border: 1px solid var(--second);
    color: var(--second);
    border-radius: 5px;
    width: 60px;
    text-align: center;
    cursor: pointer;
}

.FollowButton:hover
{
    background-color: rgb(255,242,245);
}

.NumbersOfLikesAndCommentsWrapper
{
    display: flex;
}

.SideContent
{
    width: 30vw;
    width: 540px;
    margin-left: 30px;
}

.CommentsWrapperOnPost
{
    overflow-y: scroll;
    height: 36vh;
    margin-top: 30px;
}

.LoginOnPost
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    background-color: rgb(248,248,248);
    height: 38px;
    color: var(--second);
    padding-top: 18px;
    cursor: default;
}

.Likes
{
    margin-left: 10px;
}

.LikesIco
{
    background-color: rgb(240,240,240);
    padding: 8px;
    border: none;
    border-radius: 50%;
    transform: translateY(-8px);
}

.CommentsIco
{
    background-color: rgb(240,240,240);
    padding: 8px;
    border: none;
    border-radius: 50%;
    transform: translateY(-8px);
    margin-left: 30px;
}

.ComentBoxWrapper
{
    border-top: 1px solid var(--separator);
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0px;
    width: 540px;
    background-color: white;
}

.InputCommentWrapper
{
    display: flex;
}

.InputComment
{
    width: 80%;
    border: 1px solid gray;
    border-radius: 10px;
}

.PostButton
{
    margin-left: 8px;
    cursor: pointer;
}

.PostButton:hover
{
    color: gray;
}
